services:
  db:
    container_name: db
    image: postgres:18-alpine3.22
    environment:
      POSTGRES_PASSWORD: password
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d:ro
    networks:
      - backend-db

  backend:
    container_name: backend
    build: ./backend
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgres://postgres:password@db:5432/postgres"
    ports:
      - "8000:8000"
    networks:
      - backend-db

  frontend:
    container_name: frontend
    image: nginx:1.29-alpine3.22
    volumes:
      - ./frontend/public:/usr/share/nginx/html:ro
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  db-data:

networks:
  backend-db:
